/* ren and em do NOT depend on html  font-size in media queries!
 Instead, 1rem = 1em = 16px */

/**********************/
/* BELOW 1344px (Smaller desktop) */
/**********************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/**********************/
/* BELOW 1200px (Landscape Tablets) */
/**********************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 2.4rem;
    row-gap: 4.8rem;
  }

  .h2 {
    font-size: 3rem;
  }

  .heading-tertiary {
    font-size: 1.8rem !important;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .section-cta {
    max-width: 100rem;
    column-gap: 2.4rem;
    row-gap: 4.8rem;
    margin-bottom: 3.2rem !important;
    transform: translate(0, -3%);
  }
}

/**********************/
/* BELOW 944px (Tablets) */
/**********************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .feature-box {
    padding: 3.2rem 2.4rem;
  }

  .partner-img {
    height: 24rem;
  }

  .partners-contaner {
    max-width: 86rem !important;
  }

  .section-cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 2fr 3fr;
  }

  .cta-form {
    display: flex;
    flex-direction: column;
  }

  #message {
    height: 10em;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .section-google-map iframe {
    height: 400px;
  }
}

/**********************/
/* BELOW 704px (Tablets) */
/**********************/

@media (max-width: 44em) {
  .heading-primary {
    font-size: 3.6rem;
  }

  .grid {
    column-gap: 2rem;
    row-gap: 3.2rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 4.8rem;
  }

  .client-3 {
    grid-column: 5;
  }

  .client-2 {
    grid-column: 3;
  }

  .client-4 {
    grid-row: 2;
    grid-column: 2;
  }

  .client-5 {
    grid-row: 2;
    grid-column: 4;
  }

  .section-services {
    margin-bottom: 12rem;
  }

  .partners-contaner {
    max-width: 36rem !important;
    justify-content: center;
  }

  .partner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-img {
    height: 36rem;
  }

  .features-background {
    background-color: #e67e22;
    padding: 12.8rem 0 6.4rem;
  }

  .heading-features {
    margin-bottom: 6.4rem;
  }

  .features-container {
    grid-template-columns: 1fr;
    gap: 12.8rem;
    max-width: 64rem;
  }

  .section-features {
    margin-bottom: 0;
  }

  .section-features::after {
    position: relative;
  }

  .heading-tertiary {
    font-size: 2rem !important;
  }

  .footer {
    padding-top: 4.8rem;
  }

  .grid--footer {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
  }

  .google-map {
    grid-column: 1 / -1;
  }

  .section-cta {
    margin: 0 3.2rem;
  }
}

/**********************/
/* BELOW 672px (Tablets) */
/**********************/

@media (max-width: 42em) {
  .section-google-map iframe {
    height: 300px;
  }

  .section-cta {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  .address-column {
    align-items: center;
  }

  .section-cta .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 1.2rem;
    justify-items: center;
    text-align: center;

    margin: 4.8rem 0 2.4rem;
  }

  .support-email {
    grid-row: 2;
  }

  .address-column .social-links {
    margin: 1.2rem auto;
  }

  .cta-form-box {
    padding-top: 3.2rem;
  }
}

/**********************/
/* BELOW 544px (Tablets) */
/**********************/

@media (max-width: 34em) {
  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem;
  }

  .grid {
    row-gap: 3.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 80%;
  }

  .section-clients {
    margin-bottom: 8rem;
  }

  .heading-services {
    margin-bottom: 6.4rem;
  }

  .client-img {
    height: 6.2rem;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 2.4rem;
    justify-items: center;
  }

  .client-3 {
    grid-column: 4;
  }

  .client-2 {
    grid-column: 2 / 4;
    justify-self: center;
  }

  .client-4 {
    grid-column: 2;
  }

  .client-5 {
    grid-column: 3;
  }

  .features-background {
    padding-bottom: 3.2rem;
  }

  .service-img-box:nth-child(2) {
    grid-row: 1;
  }

  .service-img-box:nth-child(6) {
    grid-row: 5;
  }

  .service-img-box {
    transform: translateY(1.2rem);
  }

  .section-services {
    margin-bottom: 8rem;
  }

  .section-cta {
    margin: 0 6.4rem 2.4rem;
  }

  .section-cta .contacts {
    grid-template-columns: 1fr;
  }

  .address-column {
    padding: 2.4rem;
  }
}

/* - Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 
44 / 52 / 62 / 74 / 86 / 98

-spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 
96 / 128

*/
